{% extends "base.html" %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller('myCtrl', function($scope) {
            $scope.myVar = 100;
        });
    </script>
    {{ super() }}
{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ data['name'] }}</h1>
    </div>
</div>

<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <h2 class="text-warning">
        Serving:
        <input type="text" ng-model="myVar">
        g
    </h2>
    <br>
    {% for group, block in data['nutrients'].iteritems() %}
        <h2 class="text-danger">{{ group }}</h2>
        <ul>
            {% for record in block %}
                <li><h3 class="text-info">{{ record['name'] }}: {[ myVar * {{ record['value'] }} / 100.0 | number:2 ]} {{ record['unit'] }}</h3></li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock %}