{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ data['name'] }}</h1>
    </div>
</div>

<div class="container">
    <h3 class="text-info">Capital: {{ data['capital'] }}</h3>
    <h3 class="text-danger">Area: {{ data['area'] }}</h3>
    <h3 class="text-info">Population: {{ data['population'] }}</h3>
    <h3 class="text-danger"> Region:
        <a href="/region/{{ data['region'] }}"> {{ data['region'] }} </a>
    </h3>
    <h3 class="text-info">Subregion: {{ data['subregion'] }}</h3>
    <h3 class="text-danger">Languages:
    {% for language in data['languages'] %}
        <a href='/language/{{ language }}'>{{ language }}</a>
        {% if loop.index < data['languages']|length %},{% endif %}
    {% endfor %}
    </h3>
</div>

{% endblock %}
